div#content a.social-button {
  margin: 0.25em;
}

div#content .svg-img {
  background: #444444;
  border-radius: 2em;
  fill: #0ce3ac;
  width: 7.5em;
  height: 7.5em;
  padding: 1.5em;
  transition: background 0.5s, fill 0.5s;
}

div#content .svg-img:hover {
  background: #46B196;
  fill: white;
}
