html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
}

div#main-content {
  background-color: #222222;
  padding: 1%;
  position: relative;
  min-height: 100%;
  top: 0;
}

div#header {

}

div#header .title-text {
  display: inline-block;
}

div#header div.social-buttons {
  display: inline-block;
  float: right
}

a.social-button {
  padding: 4px;
  text-decoration: none;
}

a object {
  pointer-events: none;
}

div#navigation {

}

ul#nav-menu {
  border: 1px solid #222222;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul#nav-menu li {
  border-right: 1px solid #222222;
  display: inline-block;
  float: left;
  width: 20%;
}

ul#nav-menu li:last-child {
  border-right: none;
}

ul#nav-menu li a {
  display: block;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
  text-decoration: none;
}

ul#nav-menu li a:hover {
  background-color: #111111;
}

div#content {
  padding-bottom: 8em;
}

div#footer {
  bottom: 0;
  color: gray;
  height: 8em;
  left: 0;
  padding: 1%;
  position: absolute;
  right: 0;
  text-align: center;
}

div#footer .legal {
  float: left;
}

div#footer div.social-buttons {
  clear: left;
}
