html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
}

a {
  outline: none;
}

div#wrapper {
  background-color: #222222;
  padding: 1%;
  position: relative;
  min-height: 100%;
  top: 0;
}

a.social-button {
  padding: 0.25em;
  text-decoration: none;
}

div#header {

}

div#header .title-text {
  display: inline-block;
}

div#header div.social-buttons {
  display: inline-block;
  float: right
}

div#header a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

div#header a:hover {
  color: #0ce3ac;
}

div#header .svg-img {
  fill: #FFFFFF;
  width: 1.25em;
  height: 1.25em;
  transition: fill 0.5s;
}

div#header .svg-img:hover {
  fill: #0ce3ac;
}

div#navigation {

}

ul#nav-menu {
  background: #333333;
  border: 0.1em solid #222222;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul#nav-menu li {
  border-right: 0.1em solid #222222;
  display: inline-block;
  float: left;
  width: 20%;
}

ul#nav-menu li:last-child {
  border-right: none;
}

ul#nav-menu li a {
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  text-decoration: none;
}

ul#nav-menu li a:hover {
  background: #444444;
}

ul#nav-menu li a.active {
  background: #46B196;
  color: white;
}

div#content {
  padding-bottom: 8em;
}

div#content .social-buttons {
  padding-top: 1em;
}

div#content p {
  text-align: justify;
}

div#footer {
  bottom: 0;
  color: gray;
  height: 8em;
  left: 0;
  padding: 1%;
  position: absolute;
  right: 0;
  text-align: center;
}

div#footer .legal {
  float: left;
}

div#not-signed-in {
  background: #7F7C6E;
  border-color: #6D6C60;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  color: #BFBFBF;
  padding: 1em;
  padding-bottom: 0.5em;
}

a#sign-in-button {
  background: linear-gradient(#19662A, #135121);
  border-color: #175626;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  color: #7F7F7F;
  cursor: pointer;
  margin-right: 0.25em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  text-decoration: none;
}

a#sign-in-button:hover {
  background: linear-gradient(#26993F, #1C7730);
  border-color: #227F38;
  color: #BFBFBF;
}

a#sign-in-button:active {
  background: #1C7730;
}

textarea.comment-area {
  border-radius: 0.25em;
  resize: none;
  width: 100%;
}
