div#content {
  text-align: center;
}

div#content h2 {
  font-family: "Courier New";
}

div#content .svg-img {
  background: #444444;
  border-radius: 2em;
  fill: #0ce3ac;
  width: 16em;
  height: 14em;
  padding: 1.5em;
  transition: background 0.5s, fill 0.5s;
}

div#content .svg-img:hover {
  background: #46B196;
  fill: white;
}

#tagline {
  color: #0ce3ac;
}

#cursor {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
