<!DOCTYPE html>
<html>
  <body>
    <div id="footer">
      <hr>
      <p class="legal">© 2017 Nicholas Omer Chiasson</p>
      <div class="social-buttons">
        <a class="social-button" href="mailto:nicholasomerchiasson@gmail.com?Subject=はじめまして" target="_top">
          <object data="images/svg/octicons/white/mail.svg" type="image/svg+xml" width="16px" height="16px"></object>
        </a>
        <a class="social-button" href="https://github.com/nicholaschiasson" target="_blank">
          <object data="images/svg/octicons/white/mark-github.svg" type="image/svg+xml" width="16px" height="16px"></object>
        </a>
        <a class="social-button" href="https://linkedin.com/in/nicholaschiasson" target="_blank">
          <object data="images/svg/linkedin/linkedin-logo-white.svg" type="image/svg+xml" width="16px" height="16px"></object>
        </a>
        <a class="social-button" href="https://stackexchange.com/users/2593458/nicholaschiasson" target="_blank">
          <object data="images/svg/stackexchange/se-icon-white.svg" type="image/svg+xml" width="16px" height="16px"></object>
        </a>
      </div>
    </div>
  </body>
</html>
