<div id="header">
  <h4 class="title-text">Nicholas Omer Chiasson</h4>
  <div class="social-buttons">
    <a class="social-button" href="mailto:nicholasomerchiasson@gmail.com?Subject=はじめまして" target="_top">
      <object class="svg-img" data="images/svg/octicons/mail.svg" type="image/svg+xml" width="16px" height="16px"></object>
    </a>
    <a class="social-button" href="https://github.com/nicholaschiasson" target="_blank">
      <object class="svg-img" data="images/svg/octicons/mark-github.svg" type="image/svg+xml" width="16px" height="16px"></object>
    </a>
    <a class="social-button" href="https://linkedin.com/in/nicholaschiasson" target="_blank">
      <object class="svg-img" data="images/svg/linkedin/linkedin-logo.svg" type="image/svg+xml" width="16px" height="16px"></object>
    </a>
    <a class="social-button" href="https://stackexchange.com/users/2593458/nicholaschiasson" target="_blank">
      <object class="svg-img" data="images/svg/stackexchange/se-icon.svg" type="image/svg+xml" width="16px" height="16px"></object>
    </a>
  </div>
  <hr/>
</div>
