<!DOCTYPE html>
<html>
  <body>
    <h1>Nicholas Omer Chiasson
      <a href="mailto:nicholasomerchiasson@gmail.com?Subject=はじめまして" target="_top" style="text-decoration: none;">
        <svg width="32px" height="32px" viewbox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
          <title>mail</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Octicons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="mail" fill="#FFFFFF">
              <path d="M0,4 L0,12 C0,12.55 0.45,13 1,13 L13,13 C13.55,13 14,12.55 14,12 L14,4 C14,3.45 13.55,3 13,3 L1,3 C0.45,3 0,3.45 0,4 L0,4 Z M13,4 L7,9 L1,4 L13,4 L13,4 Z M1,5.5 L5,8.5 L1,11.5 L1,5.5 L1,5.5 Z M2,12 L5.5,9 L7,10.5 L8.5,9 L12,12 L2,12 L2,12 Z M13,11.5 L9,8.5 L13,5.5 L13,11.5 L13,11.5 Z" id="Shape"></path>
            </g>
          </g>
        </svg>
      </a>
      <a href="https://github.com/nicholaschiasson" target="_blank" style="text-decoration: none;">
        <svg width="32px" height="32px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
          <title>mark-github</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="mark-github" fill="#FFFFFF">
              <path d="M8,0 C3.58,0 0,3.58 0,8 C0,11.54 2.29,14.53 5.47,15.59 C5.87,15.66 6.02,15.42 6.02,15.21 C6.02,15.02 6.01,14.39 6.01,13.72 C4,14.09 3.48,13.23 3.32,12.78 C3.23,12.55 2.84,11.84 2.5,11.65 C2.22,11.5 1.82,11.13 2.49,11.12 C3.12,11.11 3.57,11.7 3.72,11.94 C4.44,13.15 5.59,12.81 6.05,12.6 C6.12,12.08 6.33,11.73 6.56,11.53 C4.78,11.33 2.92,10.64 2.92,7.58 C2.92,6.71 3.23,5.99 3.74,5.43 C3.66,5.23 3.38,4.41 3.82,3.31 C3.82,3.31 4.49,3.1 6.02,4.13 C6.66,3.95 7.34,3.86 8.02,3.86 C8.7,3.86 9.38,3.95 10.02,4.13 C11.55,3.09 12.22,3.31 12.22,3.31 C12.66,4.41 12.38,5.23 12.3,5.43 C12.81,5.99 13.12,6.7 13.12,7.58 C13.12,10.65 11.25,11.33 9.47,11.53 C9.76,11.78 10.01,12.26 10.01,13.01 C10.01,14.08 10,14.94 10,15.21 C10,15.42 10.15,15.67 10.55,15.59 C13.71,14.53 16,11.53 16,8 C16,3.58 12.42,0 8,0 L8,0 Z"></path>
            </g>
          </g>
        </svg>
      </a>
      <a href="https://linkedin.com/in/nicholaschiasson" target="_blank" style="text-decoration: none;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="32" height="32" viewbox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve">
          <g>
            <path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707   c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21   v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824   C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463   c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z    M5.477,420.56h92.184v-277.32H5.477V420.56z" fill="#FFFFFF"/>
          </g>
        </svg>
      </a>
      <a href="https://stackexchange.com/users/2593458/nicholaschiasson" target="_blank" style="text-decoration: none;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewbox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
          <style type="text/css">
            .st{fill:#FFFFFF;}
          </style>
          <rect x="22.4" y="57.5" class="st" width="74.8" height="15.4"/>
          <rect x="22.4" y="37.6" class="st" width="74.8" height="15.4"/>
          <path class="st" d="M85.5,17H34.4c-6.6,0-12,5.5-12,12.3v4h74.8v-4C97.2,22.5,92,17,85.5,17z"/>
          <path class="st" d="M22.4,77.3v4c0,6.8,5.4,12.3,12,12.3h32v16.3l15.8-16.3h3.5c6.6,0,12-5.5,12-12.3v-4H22.4z"/>
        </svg>
      </a>
    </h1>
    <hr>
    <h2>Repositories</h2>
    <ul>
      <li><a href="https://github.com/nicholaschiasson/car#car">car</a></li>
      <li><a href="/checkers">checkers</a></li>
      <li><a href="/d00m3d">d00m3d</a></li>
      <li><a href="/laser-pong">laser-pong</a></li>
      <li><a href="/love-maker">love-maker</a></li>
      <li><a href="/PlanetCiv">PlanetCiv: S.P.A.C.E</a></li>
      <li><a href="/Snatch">Snatch</a></li>
      <li><a href="/snatch3d-vr">snatch3d-vr</a></li>
      <li><a href="/W3DL">W3DL</a></li>
    </ul>
    <h2>Jams</h2>
    <ul>
      <li><a href="/KillTheSnowman">Ludum Dare 31</a></li>
    </ul>
    <h2>Gists</h2>
    <ul>
      <li><a href="https://gist.github.com/nicholaschiasson/18edfbbddc5ea8188a239dcb17159bde">cdmod</a></li>
      <li><a href="https://gist.github.com/nicholaschiasson/e2712d020a6317779555274f58b70f2f">ls_hidden</a></li>
      <li><a href="https://gist.github.com/nicholaschiasson/85cd296f34c5a2728c5a61fb426242f8">MemMon</a></li>
    </ul>
  </body>
</html>
