<!DOCTYPE html>
<html>
  <body>
    <h3>Work</h3>
    <h4>Repositories</h4>
    <ul>
      <li><a href="https://github.com/nicholaschiasson/car#car">car</a></li>
      <li><a href="/checkers">checkers</a></li>
      <li><a href="/d00m3d">d00m3d</a></li>
      <li><a href="/laser-pong">laser-pong</a></li>
      <li><a href="/love-maker">love-maker</a></li>
      <li><a href="/PlanetCiv">PlanetCiv: S.P.A.C.E</a></li>
      <li><a href="/Snatch">Snatch</a></li>
      <li><a href="/snatch3d-vr">snatch3d-vr</a></li>
      <li><a href="/W3DL">W3DL</a></li>
    </ul>
    <h4>Jams</h4>
    <ul>
      <li><a href="/KillTheSnowman">Ludum Dare 31</a></li>
    </ul>
    <h4>Gists</h4>
    <ul>
      <li><a href="https://gist.github.com/nicholaschiasson/18edfbbddc5ea8188a239dcb17159bde">cdmod</a></li>
      <li><a href="https://gist.github.com/nicholaschiasson/e2712d020a6317779555274f58b70f2f">ls_hidden</a></li>
      <li><a href="https://gist.github.com/nicholaschiasson/85cd296f34c5a2728c5a61fb426242f8">MemMon</a></li>
    </ul>
  </body>
</html>
