<section class="blurb-section">
  <h2>what i'm up to:</h2>
  <p class="italic text-xs text-right">
    as of {{ (git "log" "-1" "--format=%ct" "templates/now.html" | strings.TrimSpace | time.Unix).Format time.RFC1123 }}
  </p>
  <h3>life and career</h3>
  <p>
    <span class="font-bold">Working</span>: as an Online Programmer at Ubisoft Montreal, building infrastructure for a large
    online services platform.
  </p>
  <p><span class="font-bold">Living</span>: in Montreal, Canada.</p>
  <h3>personal projects</h3>
  <p class="before-english">
    Building an online dictionary site for a redesigned English spelling specification I came up with called
    <a href="https://github.com/nicholaschiasson/inglix">inglix</a>.
  </p>
  <p class="before-globe">
    Working on a clever blogging system for this very site leveraging GitHub technologies entirely for the back end.
    <span class="block">
      <span class="font-bold ml-6">Update</span>: It's up and running now and I'm quite happy with it!
      <a target="_self" href="/blog.html">Check it out!</a>
    </span>
  </p>
  <p class="before-runner">
    Training for the next
    <a href="https://www.runottawa.ca/races-and-events/ottawa-marathon">Ottawa marathon</a>.
  </p>
  <h3>miscellaneous</h3>
  <p><span class="font-bold">Playing</span>: Skyrim (again 😅)</p>
  <p>
    <span class="font-bold">Reading</span>: <a href="https://www.goodreads.com/en/book/show/59357120">Yellowface</a>,
    <a href="https://www.goodreads.com/book/show/11275.The_Wind_Up_Bird_Chronicle">The Wind-Up Bird Chronicle</a>.
  </p>
  <p>
    <span class="font-bold">Watching</span>:
    <span class="italic">nothing right now... recommend me something?</span>
  </p>
</section>
