<section class="blurb-section">
  <h2>what i'm up to:</h2>
  <p class="italic text-xs text-right">
    as of {{ (git "log" "-1" "--format=%ct" "templates/now.html" | strings.TrimSpace | time.Unix).Format time.RFC1123 }}
  </p>
  <h3>life and career</h3>
  <p>
    <span class="font-bold">Working</span>: as an Online Programmer at Ubisoft Montreal, building infrastructure for a large
    online services platform.
  </p>
  <p><span class="font-bold">Living</span>: in London, UK. 🇬🇧</p>
  <h3>personal projects</h3>
  <p class="before-climber">Climbing indoor V7-V8 now.</p>
  <h3>miscellaneous</h3>
  <!--
  <p>
    <span class="font-bold">Playing</span>:
    <span class="italic"></span>
  </p>
  -->
  <p>
    <span class="font-bold">Reading</span>: <span id="gr_custom_widget_1733005448"></span> See
    <a href="https://www.goodreads.com/nicholaschiasson">my goodreads</a> if curious!
    <script
      src="https://www.goodreads.com/review/custom_widget/52306368.Currently%20Reading?num_books=100&order=d&shelf=currently-reading&show_author=0&show_cover=0&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_updated&widget_bg_transparent=true&widget_id=1733005448"
      type="text/javascript"
      charset="utf-8"
    ></script>
  </p>
  <!--
  <p>
    <span class="font-bold">Watching</span>:
    <span class="italic"></span>
  </p>
  -->
</section>
