<section class="blurb-section">
  <h2>what i'm up to:</h2>
  <p class="italic text-xs text-right">
    as of {{ (git "log" "-1" "--format=%ct" "templates/now.html" | strings.TrimSpace | time.Unix).Format time.RFC1123 }}
  </p>
  <h3>life and career</h3>
  <p>
    <span class="font-bold">Working</span>: as an Online Programmer at Ubisoft Montreal, building infrastructure for a large
    online services platform.
  </p>
  <p><span class="font-bold">Living</span>: in Montreal, Canada.</p>
  <h3>personal projects</h3>
  <p class="before-globe">Moving to London, UK in September.</p>
  <p class="before-climber">Climbing indoor V7 now.</p>
  <h3>miscellaneous</h3>
  <!--
  <p>
    <span class="font-bold">Playing</span>:
    <span class="italic"></span>
  </p>
  -->
  <p>
    <span class="font-bold">Reading</span>:
    <a href="https://www.goodreads.com/book/show/20749153-harry-potter-et-le-prisonnier-d-azkaban"
      >Harry Potter et le Prisonnier d'Azkaban</a
    >.
  </p>
  <!--
  <p>
    <span class="font-bold">Watching</span>:
    <span class="italic"></span>
  </p>
  -->
</section>
